<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mifazhan.mapper.MessageMapper">

    <resultMap id="BaseResultMap" type="com.mifazhan.domain.entity.Message">
            <id property="id" column="id" />
            <result property="sessionId" column="session_id" />
            <result property="role" column="role" />
            <result property="content" column="content" />
            <result property="creationTime" column="create_time" />
            <result property="deleted" column="deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,session_id,role,content,creation_time,deleted
    </sql>
</mapper>
